{{> account_header}}
<!-- START TABULAR DATA EXAMPLE -->
<div class="container_12">
	<div class="clearfix">&nbsp;</div>
	<h2>Ihre Alarmzeiten</h2>
	<p>
	Hier sehen Sie ihre aktiven Alarmzeiten ...
	</p>

	<div class="clearfix">&nbsp;</div>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th width="1%" scope="col">
				<input type="checkbox" name="checkbox" id="checkbox" class="checkall" /><label for="checkbox"></label></th>

			<th width="1%" scope="col">Id</th>
			<th width="10%" scope="col">Zeit</th>
			<th scope="col">Nachricht</th>
		</tr>

		{{#Schedules}}
		<tr>

			<td scope="col"><input type="checkbox" name="checkbox2" id="checkbox2" /></td>

			<td scope="col">{{Id}}</td>
			<td scope="col">{{Hour}}:{{Minute}}</td>
			<td scope="col">{{Message}}</td>
		</tr>

		{{/Schedules}}
	</table>
	<a href="/account/new_schedule">Termin zufuegen</a>
</div>
{{> account_footer}}
