<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Medstime.de Kundenbereich</title>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

		<!-- MASTER STYLESHEET-->
		<link href="css/styles.css" rel="stylesheet" type="text/css" />

		<!-- LOAD TIPSY TOOLTIPS-->
		<script type="text/javascript" src="js/jquery.tipsy.js"></script>

		<!-- LOAD CUSTOM JQUERY SCRIPTS-->
		<script type="text/javascript" src="js/scripts.js"></script>	

		<!-- LOAD FACEBOX -->
		<script type="text/javascript" src="js/facebox.js"></script>
		<link href="css/facebox.css" rel="stylesheet" type="text/css" />


		<!-- LOAD FLOT GRAPHS -->
		<script type="text/javascript" src="js/jquery.flot.pack.js"></script>
		<!--[if IE]>
		<script language="javascript" type="text/javascript" src="js/excanvas.pack.js"></script>
		<![endif]-->


		<!--[if IE 6]>
		<script src="js/pngfix.js"></script>
		<script>
			DD_belatedPNG.fix('.png_bg');
		</script>        
		<![endif]-->


		<!-- LOAD GRAPH JAVASCRIPT FILE-->
		<script src="js/graphs.js" type="text/javascript"></script>


	</head>

	<body>
		<div id="header" class="png_bg">
			<div id="head_wrap" class="container_12">
				<!-- start of logo - you could replace this with an image of your logo -->
				<div id="logo" class="grid_4">
					<h1>Meds<span>Time</span></h1>
				</div>
				<!-- end logo -->

				<!-- start control panel -->
				<div id="controlpanel" class="grid_8">

					<ul>

						<li><p>Signed in as <strong>Johnathan Doe</strong></p></li>
						<li><a href="#" class="first">Einstellungen</a></li>
						<li><a href="/account/logout" class="last">Ausloggen</a></li>

					</ul>
				</div>
				<!-- end control panel -->


			</div><!-- end headwarp  -->
		</div><!-- end header -->

		<!-- EVERYTING BELOW IS THE MAIN CONTENT -->
		<div id="main_content_wrap" class="container_12">
			{{> account_dock}}
	
