	<!-- END TABULAR DATA EXAMPLE -->
				<div class="clearfix">&nbsp;</div>



				<!-- START FOOTER -->

				<div id="footer" class="grid_12">

					<p>&copy; MedsTime.de</p> 

				</div>
				<!-- END FOOTER -->       
			</div><!-- end content wrap -->
		</div>

	</body>
</html>
