<!-- start icon dock-->
<div id="icondock" class="grid_12">
<ul>
<li><a href="/account/main" rel="tipsy" title="Set Reminders"><img src="images/icondock/bell.png" alt="Reminders" /><br />Alarmzeiten</a></li>
<li><a href="/account/messaging" rel="tipsy" title="View Your Contact List"><img src="images/icondock/email.png" alt="Contacts" /><br />Benachr...</a></li>
<li><a href="/account/balance" rel="tipsy" title="View Recent Sales Activity"><img src="images/icondock/coins.png" alt="Sales" /><br />Kontostand</a></li>
<li><a href="/account/help" rel="tipsy" title="View Recent Commenets"><img src="images/icondock/help.png" alt="Comments"/><br />Hilfe</a></li>
</ul>
</div><!-- end icon dock-->


