<html>
<head>
	<title>medstime</title>
</head>
<body>
	{{#Accid}}
		<h1>Account Id: {{Accid}}</h1>
	{{/Accid}}
	
<a href="/login">Yo! Login?</a><br>
<a href="/signup">Yo! Sign Up?</a><br>
</body>
</html>