{{#Error}}
<div class="errorbox">
	<h1>Fehler: {{Error}}</h1>
</div>
{{/Error}}

<div class="loginbox" style="width: 400px; border: 1px dashed red;">
<form method="POST" action="/login">
  Username: <input type="text" name="username" size="15" /><br />
  Password: <input type="password" name="password" size="15" /><br />
  <p><input type="submit" value="Login" /></p>
</form>
</div>